:root{
    --color-1:black;
    --text-color:white;
    --accent-color:blue;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1C1A19;
    font-size: 12pt;
    font-family: Poppins,'Segoe UI', Tahoma, sans-serif;
    height: 682px;
}
nav{
    height: 72px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: #3E3C3C;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
nav a{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    width: 255px;
    height: 40px;
    top: 16px;
    right: 991px;
    gap: 8px;
}
nav a:hover{
    background-color: var(--accent-color);
}
nav .home-link{
    margin-right: auto;
}
.MyLogo{
    width: 84px;
    height: 20px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #e4ece7;
}
nav svg{
    fill: var(--text-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}


   @media(max-width: 500px){ 
     .links-container{ 
        flex-direction: column; 
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .close-sidebar-button, .open-sidebar-button{
        padding: 20px;
        display: block;
    }
   #sidebar-active:checked~ .links-container{
    right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
nav{
    display: block;
    flex-direction: row;
    height: 10vh;
    float: clear;
}
.open-sidebar-button{
    right: 20px;
    position: absolute;
}

.section{
background-color: var(--color-1);
width: 100%;
height: 80vh;
padding: 120px 24px 120px 24px;
}
h1{
    color: #f55800;
}
.section h1{
    font-family: Crete Round;
font-size: 56px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0.37px;
text-align: left;

}
.section h2{
    font-family: inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
}

.section i{
    width: Hug (40px);
height: Hug (40px);
padding: 8px;
border-radius: 8px;
color: #ffffff;
}
p{
    color: #ffffff;
}
.book{
   background: url(Illustration\ image.png);
   width: 406.89px;
   height: 312.03px;
   top: 317px;
   left: 620.1px;


}
.main{
    background-color: #ffffff;
    box-sizing: border-box;
}

h3{
    background-color: white;
    font-family: crete round;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    /* border-bottom: 1px solid black; */
    gap: 24px;
    padding-top: 40px;
}
hr{
    margin-top: 30px;
}
#png{
    display: block;
    margin: 0 auto;
    height: 237px;
    margin-top: 70px;
    margin-bottom: 30px;
    align-items: start;
}
.main p{
    color: black;
}
.listitems ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-top: 30px;
}
.listitems ul li{
    font: inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #8993A4;
    padding: 10px 12px 10px 12px;
}
.btn{
    background-color:#FF6B00;
    font: inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    gap: 10px;
    padding: 12px;
    text-align: center;
    color: white;
    margin: 20px;
}
.cover-container{
    width: 100%;
    height: 386px;
    background-image: url(Img\ Placeholder2.png);
    background-size: cover;
    background-position: center;
}
.cover-container h5{
    color: #ffffff;
    height: 81px;
    width: 295px;
    font-family: Crete Round;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    padding-top: 40px;
}
.cover-container p{
    height: 99px;
    width: 100%;
    color: #ffffff;
    font: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.list ul{
    width: 247px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    border-bottom: 12px;
}
.list ul li{
    background: #FFFFFF3D;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 12px 10px 12px;
}
h6{
    color: #ffffff;
    box-sizing: border-box;
    background: #FF6B00;
    height: 48px;
    width: 100%;
    left: 101.5px;
    padding: 12px;
    gap: 10px;
    text-align: center;
    font: inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2%;
    margin-bottom: 40px;
    margin-top: 20px;
}
.about h2{
   padding: 10px; 
   color: #FF6B00;
   font: Crete Round;
   font-weight: 400;
   font-size: 72px;
   line-height: 88px;
   letter-spacing: 0.37px;
}
.about p{
    font: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
button{
    width: 156px;
    height: 48px;
    background-color: #FF6B00;
    padding: 10px;
    gap: 10px;
    color: white;
    border: none;
    margin: 15px 0;
}
  
  .modal{
    background: white;
    width: 70%;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    animation: 1s drop;
    border: 1px solid;
    display: none;
  }
  .openModal{
    display: block;
  }
  .X{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 40px;
    cursor: pointer;
  }
  #sub{
    font-family: Crete Round;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }
  ul.technologies{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 8px;
    background: white;
    color: black;
    margin: 20px 0;
  }
  ul.technologies li{
    border: 1px solid;
    gap: 8px;
    padding: 10px 12px 10px 12px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

  }
  #popupImg{
    width: 659px;
    height: 448px;
    top: 156px;
    left: 24px;
    margin-right: 20px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .see{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 424px;
    height: 336px;
  }
  .live{
    padding: 12px;
    gap: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    color: white;
    border: none;
    width: 129px;
    height: 48px;
  }
  .source{
    padding: 12px;
    gap: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    color: white;
    border: none;
    width: 158px;
    height: 48px;
  }

  

.about img{
    width: 492.63px;
    height: 258.17px;
    top: 0.35px;
    left: 492.97px;
    /* border-bottom: 2px solid grey; */
    padding-bottom: 30px;
    display: block;
    margin-bottom: 30px;
}
.container ul{
    display: grid;
    align-content: center;
    color: #ffffff;
    width: Hug (329px);
    height: Hug (1,103.46px);
    top: 4797px;
    left: 23px;
    padding: 120px 24px 38px 24px;
    gap: 24px;

}
.container .title{
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    list-style: none;
}
.container ul li{
    list-style: none;
    text-align: center;
    padding: 0px 12px 0px 12px;
    gap: 8px;
}
.container .title #icon{
    display: inline-block;
    vertical-align: middle;
}
#icon{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.text{
    background-color: #ffffff;
    width: 100%;
    height: 216px;
}
.text p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: black;
}
form{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: Hug (327px);
    height: Hug (330px);
    gap: 24px;

}
input{
    border: none;
    border-bottom: 1px solid black;
}
#message{
    border: none;
    background-color: #FBF8F7;
    width: 327px;
    height: 114px;
}
#message placeholder{
    font-family: Inter;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

form button{
    width: 131PX;
    height: 48px;
    padding: 12px;
    gap: 10px;
    align-items: center;
    background: #FF6B00;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 38%;
    border: white;
}
form button:hover{
    background-color: blue;
    transition: 0.8s ease;
}
.bottom{
   background-color: #ffffff;
   display: flex;
   align-items: center;
   border-top: 1px solid #DFE1E6;
}
.bottom i{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 8px; 
    align-items: center;
    margin-left: 50px;
}
@media(min-width:768px){
    nav a:hover{
        background-color: chartreuse;
        color: black;
        font-size: large;
        font-weight: 800;
        animation: 3s ease-in-out;
    }
    .section{
        display: flex;
    }
    span{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    #png{
        float: left;
        padding: 0 40px;
        margin-top: 50px;
    }
    #png:hover{
        transform: scale(0.5);
    }
    .btn:hover{
        background-color: #ffffff;
        color: #3E3C3C;
        rotate: 180deg;
    }
.flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width: 95%;
    padding: 20px 40px 60px 40px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
}
.end{
    display: flex;
    background-color: #ffffff;
    padding: 0 50px;
    gap: 20px;
}
.bottom{
    display: flex;
    justify-content: center;
}
.cover-container h6:hover{
    background-color: blue;
    color: #ffffff;
    transition: 3s ease;
}
.myself h1:hover{
    color: blue;
    transform: translateX(50%);
}
}