.container{
text-transform: lowercase;
height: 100vh;
color: white;
h1{color: orange;}
width: 76.8%;
text-transform: none;

}
.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
nav-h2{
justify-self: start;
}
.header{
background-color: grey;
text-align: end;
margin-bottom: -22px;
width: 375px;
height: 92px;

}
.section{
background-color: black;
width: 375px;
height: 590px;
top: 92px;
padding: 120px, 24px, 120px, 24px;
gap: 12px;

}
.section-h1{
    font-family: Crete Round;
font-size: 56px;
font-weight: 400;
line-height: 64px;
letter-spacing: 0.37px;
text-align: left;

}
.section-i{
    width: Hug (40px);
height: Hug (40px);
padding: 8px;
border-radius: 8px;

}
.right-side,.left-side{
list-style-type: none;
padding: opx;
}
/* change li display property from block to flex */
.right-side li,.left-side li{
display: flex;
}

@media only screen and(max-width:375px){
.container{
    width: 375px;
        
}
}







